{% extends 'mainpage/result_dis.html' %}

{% load staticfiles %}
{% load app_tag %}
    {% block GoogleMaps %}
    <!-- Google Maps -->
    <style type="text/css">
      #map-canvas { height: 300px }
    </style>
    <script type="text/javascript"
      src= {{google_maps_src}}>
    </script>
    <script type="text/javascript">
      function initialize() {
        var myLatlng = new google.maps.LatLng( {{latitude}}, {{longitude}});
        var LatLng1 = new google.maps.LatLng( {{lat1}}, {{lon1}});
        var LatLng2 = new google.maps.LatLng( {{lat2}}, {{lon2}});
        var LatLng3 = new google.maps.LatLng( {{lat3}}, {{lon3}});
        var mapOptions = {
          center: myLatlng,
          zoom: 4
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: 'You are here'
          });
        var marker1 = new google.maps.Marker({
            position: LatLng1,
            map: map,
            // title: '1'
            // icon: "http://maps.google.com/mapfiles/marker" + String.fromCharCode(1 + 65) + ".png"
            icon: "http://maps.google.com/mapfiles/markerA.png"
          });
        var marker2 = new google.maps.Marker({
            position: LatLng2,
            map: map,
            // title: '2'
            icon: "http://maps.google.com/mapfiles/marker" + String.fromCharCode(1 + 65) + ".png"
          });
        var marker2 = new google.maps.Marker({
            position: LatLng3,
            map: map,
            // title: '3'
            icon: "http://maps.google.com/mapfiles/marker" + String.fromCharCode(2 + 65) + ".png"
          });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    {% endblock %}
    

    <!-- recommend results block -->

    {% block results %}
        {% for park in results %}
        <div id="banner" class="box">
        <div class='row'>
            <div class="7u">
                <h2>{{ park.facility }} , {{ park.state }}</h2>
                <div>
                    <h3>Description :</h3>
                    <article>{{ park.description }}</article>
                </div>
                <div>
                    <h3>Important Information : </h3>
                    <article>{{ park.importantInformation }}</article>
                </div>
            </div>
            <div class="5u">
            <div class='weather'>
                <center>Weather</center>
                <table class ='style1'>
                    <tbody>        
                        <thead><th>Date</th><th>Description</th><th>Min</th><th>Max</th></thead>
                        {% for day in park.weather %}
                        <tr><th>{{forloop.counter0|getDate}}</th><td>{{day.weather.description}}</td><td>{{day.temp.min|floatformat}}</td><td>{{day.temp.max|floatformat}}</td></tr>
                         {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
        </div>
            <div>     
            {% for img in park.imgs %}
                {% if img %}
                    <img src= {{img}} >
                {% endif %}
            {% endfor %}
            </div>
            <br>
    </div>
        {% endfor %}
        <div class="12u">
            <section class="box box-feature">
                <div id="map-canvas">MAP<div> 
            </section>
        </div>
    {% endblock %}
