{% load staticfiles %}

<html>
    <head>
        <title>Park To Go</title>
    </head>
    <body>
    	<div class = 'content'>
    		<div id = 'header'>
    			<div class='title'>Park To Go</div>
    		</div>
            <div>facilityID:
                {{facilityID}}
            </div>
            <div>facilityName:
                {{facilityName}}
            </div>
            <div>contractType:
                {{contractType}}
            </div>
    	</div>

    	<div id='main'>
    		<div class = 'center'>
    			
    		</div>
    	</div>

    </body>
</html>

